/**
 * Auto Build Marlin
 * abm/css/docsview.css
 * Styles for Docs sidebar panel
 */

* {
  --marlin-svg: url(marlin-b.svg);
  --abm-item-label-width: 24em;
  --abm-field-max-width: calc(100% - var(--abm-item-label-width) - 2em);
  --color-h2-gcode: #B88C;
  --color-h2-basics: #8B8C;
  --color-h2-feat: #8BBC;
  --color-h2-hardware: #88BC;
  --color-h2-devel: #BB8C;
  --color-h2-setting: #B8BC;
  --color-h2-page: #999C;
  }

body.vscode-light {
  --abm-docs-overlay-bg: white;
  --abm-svg-color: #00000020;
  --abm-docs-bg: #F5F5FDC0;
  --abm-docs-bc: #CCCCCCC0;
  --abm-line-hover-bg: #FFFFFFE0;
  --abm-docs-color: black;
  --abm-docs-color-comment: #3C2200;
  --abm-docs-legend-color: black;
  --abm-docs-legend-bg: #FFFA;
  --abm-item-row-bg: #FFF4;
  --abm-item-row-odd-bg: #FFFA;
  --abm-item-border-color: #000A;
  }

body.vscode-dark {
  --abm-docs-overlay-bg: #333;
  --marlin-svg: url(marlin-w.svg);
  --abm-svg-color: #FFFFFF20;
  --abm-line-hover-bg: #00000020;
  --abm-docs-bg: #00002220;
  --abm-docs-bc: #FFFFFF40;
  --abm-docs-color: white;
  --abm-docs-color-comment: #827461;
  --abm-docs-legend-color: white;
  --abm-docs-legend-bg: #0008;
  --abm-item-row-bg: #0000;
  --abm-item-row-odd-bg: #FFF2;
  --abm-item-border-color: #FFFA;
  }

body.vscode-high-contrast {
  --abm-docs-overlay-bg: #2A2;
  --marlin-svg: url(marlin-w.svg);
  --abm-svg-color: #FFFFFF20;
  --abm-line-hover-bg: #00000030;
  --abm-docs-bg: #282C34AA;
  --abm-docs-bc: #CCCCCCC0;
  --abm-docs-color: white;
  --abm-docs-color-comment: #827461;
  --abm-docs-legend-color: yellow;
  --abm-docs-legend-bg: #009;
  --abm-item-row-bg: black;
  --abm-item-row-odd-bg: #226;
  --abm-item-border-color: white;
  }
body.vscode-high-contrast-light {
  --abm-docs-overlay-bg: #AFA;
  --abm-docs-legend-color: #009;
  --abm-docs-legend-bg: #FF0;
  --abm-item-row-bg: #FFF;
  --abm-item-row-odd-bg: #DDF;
  --abm-item-border-color: black;
  }

.clear { clear: both !important; }
.hide, .nope { display: none !important; }
.show { display: block !important; }

body {
  margin: 0;
  padding: 0;
  background: var(--marlin-svg) transparent no-repeat fixed center;
  background-size: 80%;
  }
h1, h2 { text-align: center; }

/* Prevent text selection on all the elements */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
pre {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  }

[data-search-form] {
  padding-bottom: 4px;
  font-size: 120%;
  label { font-weight: bold; margin-right: 0.5em; }
  input { font-size: 100%; border-radius: 1em; padding: 2px 0.5em; }
  text-align: center;
}
[data-search-results] {
  h3, h4 { text-align: left; }
  h2 {
    width: auto;
    padding: 4px 0;
    margin-bottom: 4px;
    border-radius: 1em;
    color: var(--abm-docs-color);
  }
  h2.gcode {background: var(--color-h2-gcode);}
  h2.basics { background: var(--color-h2-basics); }
  h2.feat { background: var(--color-h2-feat); }
  h2.hardware { background: var(--color-h2-hardware); }
  h2.devel { background: var(--color-h2-devel); }
  h2.page { background: var(--color-h2-page); }
  h2.setting { background: var(--color-h2-setting); }
  h2.config { background: var(--color-h2-setting); }
  div.item {
    clear: both;
    padding: 1em;
    span.label {
      float: right;
      font-weight: bold;
      margin-right: 1em;
    }
    >a { clear: both; }
    background-color: var(--abm-item-row-bg);
    &.odd { background-color: var(--abm-item-row-odd-bg); }
    +div.item {
      border-top: 1px dotted var(--abm-item-border-color);
    }
  }
  &>h1 {
    color: var(--color-data-search);
    background: var(--color-data-search-bg);
  }
}
p.found { text-align: center; }

div.overlay {
  width: 100%;
  position: fixed;
  background-color: var(--vscode-sideBarTitle-background);
  box-shadow: 0 0 24px -6px black;
  h1 { margin: 0 0 4px 0; }
}
