/**
 * Auto Build Marlin
 * abm/css/infoview.css
 * Styles for Info sidebar panel
 */

* {
  --marlin-svg: url(marlin-b.svg);
  --abm-info-color: var(--vscode-editor-color);
  --abm-info-overlay-bg: var(--vscode-sideBarSectionHeader-background);
  --abm-item-label-width: 24em;
  --abm-field-max-width: calc(100% - var(--abm-item-label-width) - 2em);
  }

body.vscode-light {
  --abm-svg-color: #00000020;
  --abm-info-bg: #F5F5FDC0;
  --abm-info-bc: #CCCCCCC0;
  --abm-line-hover-bg: #FFFFFFE0;
  --abm-info-color: #000;
  --abm-info-color-comment: #3C2200;
  --abm-info-legend-color: #000;
  --abm-info-legend-bg: #FFFA;
  --color-h1-gcode: #B88;
  --color-h1-basics: #8B8;
  --color-h1-feat: #8BB;
  --color-h1-hardware: #88B;
  --color-h1-devel: #BB8;
  --color-h1-setting: #B8B;
  }

body.vscode-dark {
  --marlin-svg: url(marlin-w.svg);
  --abm-svg-color: #FFFFFF20;
  --abm-line-hover-bg: #00000020;
  --abm-info-bg: #00002220;
  --abm-info-bc: #FFFFFF40;
  --abm-info-color: #FFF;
  --abm-info-color-comment: #827461;
  --abm-info-legend-color: #FFF;
  --abm-info-legend-bg: #0008;
  --color-h1-gcode: #B88;
  --color-h1-basics: #8B8;
  --color-h1-feat: #8BB;
  --color-h1-hardware: #88B;
  --color-h1-devel: #BB8;
  --color-h1-setting: #B8B;
  }

body.vscode-high-contrast {
  --marlin-svg: url(marlin-w.svg);
  --abm-svg-color: #FFFFFF20;
  --abm-line-hover-bg: #00000030;
  --abm-info-bg: #282C34AA;
  --abm-info-bc: #CCCCCCC0;
  --abm-info-color: #FFF;
  --abm-info-color-comment: #827461;
  --abm-info-legend-color: #FF0;
  --abm-info-legend-bg: #009;
  --color-h1-gcode: #B88;
  --color-h1-basics: #8B8;
  --color-h1-feat: #8BB;
  --color-h1-hardware: #88B;
  --color-h1-devel: #BB8;
  --color-h1-setting: #B8B;
  }
body.vscode-high-contrast-light {
  --abm-info-legend-color: #009;
  --abm-info-legend-bg: #FF0;
  }

.clear { clear: both !important; }
.hide, .nope { display: none !important; }
.show { display: block !important; }

body {
  margin: 0;
  padding: 0;
  background: var(--marlin-svg) transparent no-repeat fixed center;
  background-size: 80%;
  }
h1, h2 { text-align: center; }

/* Prevent text selection on all the elements */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
pre {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  }

[data-search-form] {
  padding-bottom: 4px;
  font-size: 150%;
  label { font-weight: bold; margin-right: 0.5em; }
  input { font-size: 110%; border-radius: 1em; padding: 2px 0.5em; }
  text-align: center;
}
[data-search-results] {
  h3, h4 { text-align: left; }
  h2 { border-radius: 0.5em; width: auto; padding: 4px 0; margin-bottom: 0; }
  h2.gcode { background: var(--color-h1-gcode); }
  h2.basics { background: var(--color-h1-basics); }
  h2.feat { background: var(--color-h1-feat); }
  h2.hardware { background: var(--color-h1-hardware); }
  h2.devel { background: var(--color-h1-devel); }
  h2.setting { background: var(--color-h1-setting); }
  h2.config { background: var(--color-h1-setting); }
  div.item {
    clear: both;
    padding: 1em;
    border-bottom: 1px solid black;
    span.label {
      float: right;
      font-weight: bold;
      margin-right: 1em;
    }
    >a { clear: both; }
    background-color: #FFF4;
    &.odd { background-color: #FFFA; }
  }
  &>h1 {
    color: var(--color-data-search);
    background: var(--color-data-search-bg);
  }
}
p.found { text-align: center; }

div.overlay {
  width: 100%;
  position: fixed;
  background-color: var(--abm-info-overlay-bg);
  box-shadow: 0 0 24px -6px #000;
  h1 { margin: 0 0 4px 0; }
}
